<link href="/styles/markdown.css" rel="stylesheet" type="text/css">

<div id="sidebar" class="floatright" style="clear: right;">
<img src="/images/profile.jpg" width="225px" class="shadowbox"/>
<p style="text-align:center;">December, 2023</p>
</div>

<div class="markdown">
	<div class="about">
<%= text %>
	</div>
</div>
