<link href="/styles/markdown.css" rel="stylesheet" type="text/css">

<div id="sidebar" class="floatright" style="clear: right;">
<img src="/images/profile.jpg" width="225px" class="shadowbox"/>
<p style="text-align:center;">November, 2019</p>
</div>

<div class="markdown">
<%= text %>
</div>
