<link href="/styles/markdown.css" rel="stylesheet" type="text/css">
<!--<object data="/topicmap.svg" alt="Topicmap" type="image/svg+xml"></object>-->
<%= topicmap %>
<div class="markdown">
<h2>Post Archive</h2>
<div class="archive">
	<table>
	<% for post in posts %>
		<tr><td><%= post[0] %></td><td><a href="/post/<%= post[1] %>"><%= post[2] %></a></td></tr>
	<% end %>
	</table>
</div>
<p><a href="/allPosts">View all posts on one page</a></p>
</div>
