<link href="/styles/markdown.css" rel="stylesheet" type="text/css">

<div id="sidebar">
<img src="/images/qr.png" width="150px" />
<p>I'm Milo Trujillo, a computer and social scientist, activist, and hacker.</p>
<p>Blog posts cover a myriad of technical and social topics, often focused on security and organizing resistance.</p>
</div>

<div class="markdown">
<%= text %>
<center><a href="/archive">View older posts</a></center>
</div>
