<link href="/styles/markdown.css" rel="stylesheet" type="text/css">
<div class="markdown">
<center>
<%= intro %>
</center>
<hr style="width:100%">

<%= text %>
<center><a href="/archive">View older posts</a></center>
</div>
