<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Backdrifting</title>
<link href="/styles/style.css" rel="stylesheet" type="text/css">
<link href="/styles/mobile.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes='246x246' href="/images/qr.png" />
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "Organization",
	"url": "https://backdrifting.net",
	"logo": "/images/qr.png"
}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<a rel="me" href="https://kolektiva.social/@illegaldaydream"></a>
<div id="container">
	<div id="mobile-stage">
		<div id="header">
			<div style="background:url(/images/backdrifting_header.svg) center top; width:100%; overflow:hidden">
				<img src="/images/backdrifting_header.svg" style="visibility: hidden;">
			</div>
			<div class="header_wrapper">
				<a href="/">Home</a>
				<a href="/archive">Archive</a>
				<a href="/about">About</a>
				<a href="/publications">Publications</a>
				<a href="/contact">Contact</a>
			</div>
		</div>
		<div id="stage-data">
			<%= yield %>
		</div>
	</div>
	<div id="footer"><footer>&#169; 2022 Milo Trujillo<br>This site available through <a href="https://torproject.org/">Tor</a> at: <a href="http://bkdrftngi6lyto7ha6uws44vgcdaqpjortunur2fnxf7mwyswciv4gyd.onion/">bkdrftngi6lyto7ha6uws44vgcdaqpjortunur2fnxf7mwyswciv4gyd.onion</a><br>Share buttons from <a href="http://iconsandcoffee.com/freebie-flat-web-icon-set/">iconsandcoffee.com</a></footer></div>
</div>
</body>
</html>
