<link href="/styles/markdown.css" rel="stylesheet" type="text/css">
<link href="/styles/publications.css" rel="stylesheet" type="text/css">

<h2>Publications</h2>
<hr>

<div class="publications">
<div class="markdown">
<%= publications %>
</div>
</div>

<br/>

<h2>Lectures and Public Speaking</h2>
<hr>

<div class="publications">
<div class="markdown">
<%= lectures %>
</div>
</div>

<br/>

<h2>Mentions in Media</h2>
<hr>

<div class="publications">
<div class="markdown">
<%= media %>
</div>
</div>


