<link href="/styles/markdown.css" rel="stylesheet" type="text/css">
<link href="/styles/publications.css" rel="stylesheet" type="text/css">

<style>
</style>

<h2>Publications, Public Speaking, and Media Mentions</h2>
<hr>

<div class="publications">
<div class="markdown">

<h2>Peer Reviewed Academic Work</h2>

<% for pub in academic %>
	<div class="box">
	<details>
	<%= pub %>
	</details>
	</div>
<% end %>

<br/>
<h2>Non-Peer Reviewed</h2>
<% for pub in nonpeerreviewed %>
	<div class="box">
	<details>
	<%= pub %>
	</details>
	</div>
<% end %>

<br/>
<h2>Lectures and Public Speaking</h2>

<% for lec in lectures %>
	<div class="box">
	<details>
	<%= lec %>
	</details>
	</div>
<% end %>

<br/>
<h2>Mentions in Media</h2>

<% for mention in media %>
	<div class="box">
	<details>
	<%= mention %>
	</details>
	</div>
<% end %>
