@charset "utf-8";
/*@import url("/fonts/cmun-bright.css");*/

body {
	width:100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Lora', serif;
	/*font-family: "Computer Modern Bright";*/
	/*font-family: 'Sanchez', serif;
	font-size: 13px;*/
	line-height: 18px;
}

#container {
	width: 100%;
	height: 100%;
	min-height: calc(100vh - 60px); /* Fill screen, leave room for footer */
	position:relative;
}
#header {
	height: 80px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	position: relative;
	text-align: center;
}
.header_wrapper {
	font-family: 'Lora', serif;
	font-style: italic;
	line-height: 22px;
	letter-spacing: -1px;
	font-size: 15px;
	word-spacing: 30px;
	border-top: 1px solid #94948c;
	border-bottom: 1px solid #94948c;
	color: #94948c;
}

.header_wrapper a:hover {
	color: #000000;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #404040;
}

/* Affects main content on every page */
#stage {
	width: 1000px;
	min-height: 100%; /* Removing this will make stage only cover content */
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
	position:relative; /* Needed to keep footer centered */
	/*box-shadow: 0 0px 80px 0 rgba(255, 0, 0, 1.0);*/
}
hr {
    margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

#blogpost hr {
	border-bottom: 1px dashed;
}

#blogpost img, object {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 100%;
}

#stage-data {
	padding-bottom:70px; /* Size of footer */
}

/* Makes text big and shiny */
.biginfo {
	font-size: 25px;
	line-height: 25px;
	font-weight: 400;
	text-align: center;
	width: 80%;
	padding-top: 15px;
	margin: auto;
}

ul.share-buttons{
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
	margin-left: 20px !important;
}

ul.share-buttons li{
	display: inline !important;
	margin: 0 !important;
}

/* ID, not a class */
#rss {
	position: relative;
	float: right;
	margin-right: 20px;
	z-index: 1;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

#sidebar {
	width: 200px;
	position: relative;
	text-align: justify;
	font-size: 12px;
	margin: 10px 32px 10px 20px;
}

#sidebar img {
	margin: 0 auto;
	display:block;
}

.shadowbox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
	text-align:center;
	/*padding-top: 20px; 
	padding-bottom: 20px; */
	margin: auto;
	font-size:12px;
	position:absolute;
	bottom:0;
	width:100%;
	height:50px; 
	padding-bottom: 10px;
}

object {
	max-width: 100%;
}

.archive table {
	border: hidden;
}

.archive td {
	border: hidden;
}

.markdown .archive td {
	border: hidden;
}

.archive td:nth-child(1) {
	font-family: monospace;
}

/* Darkmode */
@media (prefers-color-scheme: dark) {
	#rss, object, svg {
		-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
		        filter: invert(100%);
	}

	img {
		opacity: .75; /* soft on eyes unless hover */
		transition: opacity .5s ease-in-out;
	}

	img:hover {
		opacity 1;
	}

	p, h1, h2, h3, h4, h5, h6, th, tr, td, li {
		color: rgb(255, 255, 255); 
		mix-blend-mode: difference;
	}

	/*body {background-color: rgb(54, 57, 63);}*/
	body {background-color: rgb(41, 43, 47);}

	ul li {color: white;}
	#footer {color:white;}

	a:hover, .header_wrapper a:hover {
		color: #FFAF5C;
	}
}
